---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import FAQ from '../components/FAQ.astro';
import Reviews from '../components/Reviews.astro';
import RelatedProducts from '../components/RelatedProducts.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="V2er - 优雅的 V2EX 客户端">
  <Navbar />
  <main>
    <Hero />
    <Features />
    <FAQ />
    <Reviews />
    <RelatedProducts />
  </main>
  <Footer />
</Layout>
